.navbar {
    width: 100%;
    height: 62px;
    overflow: hidden;
    background-color: white;
}

.navbar-line-wrapper {
    height: 2px;
    background-color: purple;
}

.navbar-line-inner {
    width: 1200px;
    height: 2px;
    margin: 0px auto 0px auto;
    overflow: hidden;
}

.navbar-line-col1 {
    width: 26%;
    float: left;
    height: 100%;
    background-color: none;
}

.navbar-button-line {
    width: 33.3%;
    float: left;
    height: 100%;
    background-color: none;
}

.navbar-inner {
    width: 1200px;
    height: 60px;
    margin: 0px auto 0px auto;
    overflow: hidden;
    background-color: white;
}


.navbar-col1 {
    width: 26%;
    float: left;
    height: 100%;
    background-color: red;
}

.navbar-col2 {
    width: 44%;
    margin-left: 2%;
    float: left;
    height: 100%;
    background-color: white;
}

.navbar-col3 {
    width: 26%;
    float: right;
    height: 100%;
    background-color: white;
}

.navbar-button {
    width: 33.3%;
    margin-right: 0%;
    float: left;
    height: 100%;
    text-align: center;
    font-size: 1.2em;
    color: #ddd;
    overflow: hidden;
}

.navbar-button:hover {
    background-color: aquamarine;
}

 .navbar-button:hover .navbar-button-line {
     background-color: aquamarine;
 }

 .icon {
     margin-top: 15px;
     margin-left: 10px;
     float: left;
     width: 30px;
     height: 30px;
     background-color: blue;
     background-image: url('../assets/home.png');
     background-size: 30px;
 }

 .button-text {
    font-size: 0.8em;
    color: #ddd;
 }